DYNAMODB_ENDPOINT_URL=http://localhost:8000
AWS_REGION=us-west-2
REVIEWS_TABLE=reviews
OUTCOMES_TABLE=outcomes
ARTICLES_TABLE=articles
ABSTRACT_TEXT_DIR=data/articles/abstracts
FULL_TEXT_DIR=data/articles/full_text
